<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static//style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
<header class="brand-navigation">
    <div class="content">
      <img class="logo-nav" src="https://www.dropbox.com/s/7kkz40jze9bd756/Ehrenlos4.svg">Immo Service</img>
      <nav>
        <ul class="navigation">
          <li><a href="/index">Home</a></li>
          <li><a href="/reservation">Reservation</a></li>
          <li><a href="/admin/login">Dashboard</a></li>
        </ul>
      </nav>
      <button class="button-dark">Immo Service</button>
    </div>
  </header>
  <br><br><br>
  
    
    <div class="container">
        <main class="grid">
          <article>
            <img src="https://vangogh.teespring.com/v3/image/-OpCH5guL7iRy6xu4D7E7xWz9K8/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/EzMTyEjKh-lwGS0DEHSCd31VwRE/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href="1"
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/bK43tppPNyqAOvmwmpzkMQxbvCo/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/8KXofRZsEIbiARS5hTN7XbGl-0Y/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/j7DemEbwCEV6GAmDyjZUhvqmC6s/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/913eK8V6wtGK4SkxJSTJDin2yCI/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/JacE4rqPe8_g1OHuhxkse4oHCSk/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/NyIVcQ8H1ZddoIJ4GaRpkbXEF_0/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/tC0GMw6YP_eMTf0-3mXw0TZ_V18/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/isOCz7gsi6pnXvgAu1rSgjC9aJs/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/Lh1U0IhMnRta1M3VfHBGfc_4SvM/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/hY4yzpmqVedVrPihwhIMBQnx-OE/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/a2AcclBxW3cRoi6RdquKrdZOWak/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/_MJgqBh4RhQ3CYirnSLIkzMOej0/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
          <article>
            <img src="https://vangogh.teespring.com/v3/image/hyQnctk92EA1iu0rq3YkSWVN3Gw/480/560.jpg" alt="tshirt photo">
            <div class="text">
              <h3>Bastos, Yaoundé</h3>
              <p>by <a href="">Immo Housing</a></p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex exercitationem, fugit explicabo,</p>
              <a href=""
                 class="btn btn-primary btn-block">Reserver</a>
            </div>
          </article>
        </main>
      </div>
     
</body>
</html>